- content_for :header_left do
  = link_to 'Gruppenübersicht', root_path, 'data-role' => "button", 'data-mini' => true
  = link_to 'Gruppenwetten', group_group_bets_path(@group), 'data-role' => "button", 'data-mini' => true

- content_for :header_right do
  = link_to 'Neue Gruppenwette', new_group_group_bet_path(@group), 'data-ajax' => false, 
                                                                   'data-role' => "button",
                                                                   'data-mini' => true
  = link_to 'Guppenspiele abgeschlossen', finish_group_path(@group), 
                                          :remote     => true,
                                          'data-role' => "button", 
                                          'data-mini' => true,
                                          'data-ajax' => false

%h1= @group
- if @group.round.eql?(1)
  = render 'ranking'
%h2 Spiele
%ul{data: {role: "listview", inset: "true"}}= render @group.matches
