- content_for :header_left do
  = link_to 'Gruppenübersicht', root_path, 'data-role' => 'button'

%h1 Wetten

%h2 Final
- if current_user.final_bet
  = render current_user.final_bet
- else
  = render 'final_bets/form'

%h2 Halbfinal
- if current_user.half_final_bet
  = render current_user.half_final_bet
- else
  = render 'half_final_bets/form'

%h2 Gruppenspiele
%ul{data: {role: "listview", inset: "true"}}
  = render current_user.group_bets
  = group_bets_links(current_user.group_bets)

%h2 Zusatz
%ul{data: {role: "listview", inset: "true"}}= render current_user.additional_bets
