%li
  - if match.goal_a && match.goal_b
    %h3.ui-li-heading
      = match.opponent_a
      vs.
      = match.opponent_b
    %p.ui-li-desc= link_to 'Resultat korrigieren', edit_group_match_path(@group, match)
    .ui-li-count
      Resultat
      = match.goal_a.to_s + ":" + match.goal_b.to_s
  - else
    = link_to edit_group_match_path(@group, match) do
      %h3.ui-li-heading
        = match.opponent_a if match.opponent_a
        vs.
        = match.opponent_b if match.opponent_b
      %p.ui-li-desc 
        %strong Kickoff
      %p.ui-li-desc= "#{match.kickoff.to_s(:short)} in #{match.place.name}"

