!!!
%html
  %head
    %title SportBets
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body{id: "#{controller_name}_#{action_name}"}
    .page{data: {role: "page"}}
      .header{data: {role: "header", theme: 'c'}}
        .ui-btn-left{data: {role: "controlgroup", type: 'horizontal'}}
          = yield :header_left
        %h3#logo SportBets
        .ui-btn-right{data: {role: "controlgroup", type: 'horizontal'}}
          - if user_signed_in?
            %a{href: '#', data: {role: 'button', theme: 'a'}}= "Punkte: #{current_user.bet_score}"
            = link_to 'Abmelden', destroy_user_session_path, :method => :delete, 'data-role' => 'button', 'data-theme' => 'a'
            = link_to 'Login ändern', edit_user_registration_path, 'data-role' => 'button', 'data-theme' => 'a'
          - else
            = link_to 'Anmelden', new_user_session_path, 'data-role' => 'button', 'data-theme' => 'a'
            = link_to 'Registrieren', new_user_registration_path, 'data-role' => 'button', 'data-theme' => 'a'
          = yield :header_right
      .content{data: {role: "content"}}= yield
      .footer{data: {role: "footer", theme: 'c'}}
        .nav-bar{data: {role: 'navbar'}}
          %ul
            - final_groups.each do |group|
              %li= link_to group, group
          %ul
            - start_groups.each do |group|
              %li= link_to group, group

        = yield :footer_left
        %h3#logo SportBets
        %h5 Developed by Roman Simecek, 2012
        = yield :footer_right
    = javascript_include_tag "application"
