!!!
%html
  %head
    %title SportBets
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags
  %body{id: "#{controller_name}_#{action_name}"}
    .page{data: {role: "page"}}
      .header{data: {role: "header", theme: 'c'}}
        .ui-btn-left{data: {role: "controlgroup", type: 'horizontal'}}
          = yield :header_left
        %h3#logo SportBets
        .ui-btn-right{data: {role: "controlgroup", type: 'horizontal'}}
          = yield :header_right
      .content{data: {role: "content"}}= yield
      .footer{data: {role: "footer", theme: 'c'}}
        = yield :footer_left
        %h3#logo SportBets
        %h5 Developed by Roman Simecek, 2012
        = yield :footer_right
    = javascript_include_tag "application"
